<!DOCTYPE html>
<html>
  <head>
    <title>Lens</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <main class="main">

    <%= render 'shared/header' %>
    
    <%= yield %>

    <%= render 'shared/footer' %>
    
    </main>
    
    <%# Script %>

    <script src="https://kit.fontawesome.com/166fe20303.js" crossorigin="anonymous"></script>
    <%= javascript_include_tag 'jquery.min'%>
    <%= javascript_include_tag 'browser.min'%>
    <%= javascript_include_tag 'breakpoints.min'%>
    <%= javascript_include_tag 'main'%>
  </body>
</html>
